#work {
    width: 100%;
    margin-top: 10vh;
    overflow: hidden;
}

.work_inner {
    padding: 16px;
}

.work_title {
    width: 100%;
    height: 5vw;
    font-size: 4vw;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black100);
    border-bottom: .4vw solid var(--black100);
    margin-bottom: 80px;
    text-indent: .25vw;
}

.work_title em {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2;
}

.work_wrap {
    display: flex;
    width: 4400px;

}

.work_item {
    width: 400px;
    height: 70vh;
    padding: 2.5rem;
    margin-right: 20px;
    border: 1px solid #000;
}

.work_item .title {
    font-size: 1.5rem;
    text-align: center;
    padding: .8rem 0;
    font-weight: 700;
    color: var(--black100);
    border-bottom: 2px solid var(--black100);
}

.work_item .desc {
    font-size: 1.2rem;
    text-align: center;
}

.work_item .num {
    font-size: 2rem;
    font-family: var(--mainKor-font);
}

.work_item .site {
    border: 1px solid #000;
    display: block;
    text-align: center;
    padding: .5rem 1.5rem;
    margin-top: 1.5rem;
}

.work_item .img {
    display: block;
    margin-top: -20px;
    transition: .35s;
    height: 350px;
}

.work_item:hover .img {
    margin-top: 0px;
}

.work_item .img img {
    filter: saturate(0%);
    transition: .35s;
    height: 100%;
    object-fit: cover;
}

.work_item .img:hover img {
    filter: saturate(100%);
}

.work_item.w1 {
    background-color: var(--subBg100);
}

.work_item.w2 {
    background-color: var(--subBg200);
}

.work_item.w3 {
    background-color: var(--subBg300);
}

.work_item.w4 {
    background-color: var(--subBg400);
}

.work_item.w5 {
    background-color: var(--subBg500);
}

.work_item.w6 {
    background-color: var(--subBg100);
}

.work_item.w7 {
    background-color: var(--subBg200);
}

.work_item.w8 {
    background-color: var(--subBg300);
}

.work_item.w9 {
    background-color: var(--subBg400);
}

.work_item.w10 {
    background-color: var(--subBg500);
}

@media screen and (max-width:768px) {
    .work_title{
        width: 100%;
        margin-bottom: 16px;
        font-size: 30px;
        height: auto;
        background-color: var(--mainBg-color);
    }
    .work_item{
        width: 300px;
        padding: 40px 30px;
        height: auto;
    }
}